.video-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, calc(50% - 20px)));
    gap: 20px;
    padding: 20px;
    width: 100%;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

@media (min-width: 600px) {
    /* Medium screens, 2 items per row */
    .video-gallery {
        grid-template-columns: repeat(auto-fit, minmax(200px, calc(50% - 20px)));
    }
}

@media (min-width: 1200px) {
    /* Large screens, 6 items per row */
    .video-gallery {
        grid-template-columns: repeat(auto-fit, minmax(200px, calc(50% - 20px)));
    }
}

@media (min-width: 1600px) {
    /* Extra-large screens, 8 items per row */
    .video-gallery {
        grid-template-columns: repeat(auto-fit, minmax(200px, calc(50% - 20px)));
    }
}


.terra {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.terra2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.item {
    position: relative;
    display: inline-block;
}

.chapter {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 0, 0, 0.7); /* Red background */
    color: white; /* Black text */
    padding: 5px;
    border-radius: 10px;
    font-family: 'Exo 2', sans-serif;
    z-index: 1;
}

#chapters {
    text-align: center;
    margin: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropbtn {
    background-color: grey; /* White background */
    color: white; /* Black text */
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.arrow {
    margin-left: 5px;
    font-size: 12px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 120%;
    background-color: white; /* White background */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black; /* Black text */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 2px;
}

.dropdown-content a:hover {
    background-color: #ff0000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.chapter-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chapter-list li {
    background-color: grey; /* White background */
    margin: 8px;
    flex: 0 1 calc(50% - 16px);
}

.chapter-list a {
    text-decoration: none;
    color: white; /* Black text */
    font-weight: bold;
    font-size: 16px;
    display: block;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.chapter-list a:hover {
    background-color: #ff0000;
}

#goToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black; /* Black background */
    color: white; /* White text */
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
}

#goToTopBtn:hover {
    background-color: red; /* Change background color on hover */
    color: white; /* Change text color on hover */
}


.chapter-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.container {
    margin: 20px;
}

a {
    color: black; /* Black text */
    text-decoration: none;
}

.actions {
    text-align: center;
}

.btn {
    color: black; /* Black text */
    text-decoration: none;
    padding: 7px 15px;
    margin: 10px;
    display: inline-block;
    border-radius: 3px;
    background: #7a7a7a;
    transition: 0.3s;
}

.btn:hover {
    background: #ff0000;
}

#introduction {
    width: 85%;
    margin: 0 auto;
}

.about-container {
    padding: 10px;
    background: linear-gradient(to right, white, white); /* White background */
    border-radius: 8px;
    color: black; /* Black text */
    font-weight: bold;
    max-width: 85%;
    margin: 20px auto;
    font-family: 'Exo 2', sans-serif;
}

body {
    color: white; /* Black text */
    background: radial-gradient(circle, #000000, #000000); /* White background */
    margin: 0;
    padding: 0;
}

.content {
    width: 85%;
    margin: 20px auto 0;
    flex: 1;
}

nav {
    font-family: 'Exo 2', sans-serif;
    background: radial-gradient(circle, #000000, #000000); /* White background */
    color: white; /* Black text */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 30px;
    height: 80px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.image-container {
    text-align: center;
    margin-top: 20px;
}

.image-container img {
    width: 25%;
    max-width: 100%;
    opacity: 0.8;
}

.content {
    width: 85%;
    margin: 0 auto;
}


h1, h2, h3, p, li {
    color: black; /* Black text */
    font-family: 'Exo 2', sans-serif;
}

body::after {
    content: "";
    display: block;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    background-color: black; /* White background */
    opacity: 0.3;
    z-index: -1;
}

.logo-title-container {
    display: flex;
    align-items: center;
}

.logo-container {
    margin-right: 10px;
    display: flex;
    align-items: center;
    height: 80px;
    width: auto;
}

.logo-container img {
    height: 100%;
    width: auto;
}

.nav-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    max-height: 80px;
}

.nav-title h1, .nav-title p {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    text-align: center;
    white-space: nowrap;
}

.nav-title h1 {
    font-size: calc(4vw);
    color: white; /* Black text */
}

.nav-title p {
    font-size: calc(2vw);
    color: white; /* Black text */
}
